name: test-coverage

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  test-coverage:
    runs-on: ubuntu-latest
    continue-on-error: true
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '15.2.1'
      
      - name: Install dependencies
        run: npm install --frozen-lockfile --legacy-peer-deps
      
      - name: Run tests
        run: npm run testMain 
      
      - name: Coveralls
        uses: coverallsapp/github-action@v2
        continue-on-error: true